alembic==1.7.4
click==8.0.1
colorama==0.4.4
Flask==2.0.2
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.8.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.2
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
psycopg2==2.9.1
python-docx==0.8.11
python-dotenv==0.19.0
SQLAlchemy==1.4.25
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.6.0
